body {

}

.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    }

.flex-item:nth-child(1) {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    }

.outer {
  width: 400px;
  height: 500px;
  margin: 0px auto;
  box-sizing: border-box;
  border-radius: 10px;
  border: 4px solid grey;
  background: #FFF;
}

.output-box {
  width: 350px;
  height: 80px;
  margin: 0px auto;
  box-sizing: border-box;
  border-radius: 3px;
  border: 5px solid powderblue;
  background: #FFF;
  padding: 5px;
  float: right;
}


/*================================
******** BUTTONS *****************
================================*/

.button {
  color: white;
  border: 0px;
  border-radius: 3px;
  background-color: darkorange;
  height: 60px;
  width: 60px;
  margin: 10px;
  font-size: 1em;
}

.operator {
  background-color: powderblue;
  color: midnightblue;
}

#btn--add {

}

#btn--equals {

}

/*-------*/

#btn-one {

}

#btn-two {

}

#btn-three {

}

#btn-four {

}

#btn-five {

}

#btn-six {

}

#btn-seven {

}

#btn-eight {

}

#btn-nine {

}

#btn-zero {

}

#btn-add {
  color: brown;
  background-color: powderblue;
}

#btn-equals {
  color: brown;
  background-color: powderblue;
}

/* =========================================
BELOW: TO BE USED FOR SKILLED SORCERER
==========================================*/

#btn-subtract {

}

#btn-divide {

}

#btn-multiply {

}

#btn-modulo {

}
