body {

}

.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    }

.flex-item:nth-child(1) {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    }

.outer {
  width: 400px;
  height: 550px;
  margin: 0px auto;
  margin-top: 100px;
  box-sizing: border-box;
  border-radius: 50px;
  border:10px double #6ABAE2;
  background: #fff;
}

.output-box {
  width: 350px;
  height: 80px;
  margin: 0px auto;
  box-sizing: border-box;
  border-radius: 20px;
  border: 6px double #6ABAE2;
  background: #FFF;
  padding: 5px;
  float: right;
  font-size: 3em;
  color: #6ABAE2;
  font-family: monospace;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 25px;
}


/*================================
******** BUTTONS *****************
================================*/

.button {
  color: #6ABAE2;
  border: 0px;
  border-radius: 40px;
  background-color: #fff;
  height: 70px;
  width: 70px;
  margin: 10px;
  font-size: 1em;
  border: 3px solid #6ABAE2;
  font-weight: bold;
}

.operator {
  background-color: #fff;
  color: orange;
  font-weight: bold;
  border: 3px solid orange;
  height: 50px;
  width: 35px;
  margin: 5px;
}

.op {
  border-color: slategray;
  color: slategray;
}

#btn-clear {
  border: 3px solid #ED4337;
  color: #ED4337;
  font-weight: bold;
}

#btn-equals {
  border: 3px solid purple;
  color: purple;
  font-weight: bold;
}

/*-------*/

#btn-one {

}

#btn-two {

}

#btn-three {

}

#btn-four {

}

#btn-five {

}

#btn-six {

}

#btn-seven {

}

#btn-eight {

}

#btn-nine {

}

#btn-zero {

}

#btn-add {
  color: seagreen;
  background-color: #fff;
}

#btn-equals {
  color: purple;
  background-color: #fff;
}

/* =========================================
BELOW: TO BE USED FOR SKILLED SORCERER
==========================================*/

#btn-subtract {

}

#btn-divide {

}

#btn-multiply {

}

#btn-modulo {

}
