.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    }

.flex-item:nth-child(1) {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    }

.outer {
  width: 400px;
  height: 500px;
  margin: 0px auto;
  box-sizing: border-box;
  border-radius: 10px;
  border: 2px thin grey;
  background: navy;
}

/*================================
******** BUTTONS *****************
================================*/

button {
  color: white;
  border: 0px;
  border-radius: 3px;
  background-color: darkorange;
}

#btn-one {

}

#btn-two {

}

#btn-three {

}

#btn-four {

}

#btn-five {

}

#btn-six {

}

#btn-seven {

}

#btn-eight {

}

#btn-nine {

}

#btn-zero {

}

.operator {
  color: red;
}

#btn-add {

}

#btn-subtract {

}

#btn-divide {

}

#btn-multiply {

}

#btn-modulo {

}

#btn-equals {

}
